
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
charset-normalizer==3.5.1
clyent==1.2.2
colorama==0.4.6
comtypes==1.4.16
conda-repo-cli==1.0.75
conda-verify==3.4.2
crispy-bootstrap5==2026.3
distlib==0.4.3
Django==5.2
django-crispy-forms==2.6
django-decouple==2.1
et-xmlfile==1.1.0
filelock==3.29.7
fonttools==4.25.0
inflection==0.5.1
iniconfig==2.3.0
jsonpointer==2.1
mkl-service==2.4.0
msql==1.2.2
munkres==1.1.4
# mysqlclient==2.2.8
openpyxl==3.0.10
packaging==26.3
patsy==0.5.3
pillow==12.3.0
platformdirs==4.10.0
pluggy==1.6.0
ply==3.11
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
Pygments==2.21.0
pyls-spyder==0.4.0
pypiwin32==223
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pytest==9.1.1
pytest-django==4.14.0
python-discovery==1.4.3
python-lsp-jsonrpc==1.0.0
pyttsx3==2.99
pywin32==305.1
reportlab==5.0.1
scipy==1.11.4
# sqlparse==0.6.0
typed-ast==1.5.5
tzdata==2026.3
virtualenv==21.6.0
webencodings==0.5.1
zstandard==0.19.0
